<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
{% spaceless %}
{% load static django_bootstrap5 custom_extras %}
{% url 'videos:medialist' as home_url %}
{% url 'videos:upload' as upload_url %}
{% url 'videos:topmedia' as topmedia_url %}
{% url 'videos:search' as search_url %}
{% url 'videos:recentlist' as recent_url %}
{% url 'videos:featured' as featured_url %}

{% endspaceless %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Testtube">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}">
    {% block og_meta %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home">
    <meta property="og:image" content="{% get_media_prefix %}main_img.jpg">
    <meta property="og:description" content="Description">
    {% endblock og_meta %}
    {% block extra_meta %}{% endblock %}

    <title>{% block page_title %}List{% endblock %}</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style media="(min-width: 768px)">
      .cat-dropdown {
        padding: 8px 10px;
        width: 18rem;
      }
    </style>

    <style media="(max-width: 767px)">
      .cat-dropdown .row a {
        padding: inherit;
      }
    </style>

    {% block extra_css %}{% endblock %}
    {% block extra_head_js %}{% endblock %}
    {% block extra_head %}{% endblock %}
  </head>

 <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 px-4">
    <a class="navbar-brand" href="{{ home_url }}">Testtube</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.path == home_url %} active{% endif %}" href="{{ home_url }}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link{% if request.path == recent_url %} active{% endif %}" href="{{ recent_url }}">Recent</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link{% if request.path == featured_url %} active{% endif %}" href="{{ featured_url }}">Featured</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if in_pop %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="{% url 'videos:popular' 'day' %}" class="dropdown-item">24 hours</a></li>
            <li><a href="{% url 'videos:popular' 'week' %}" class="dropdown-item">1 week</a></li>
            <li><a href="{% url 'videos:popular' 'month' %}" class="dropdown-item">1 month</a></li>
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle{% if is_cat %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="{% url 'videos:category' 'comedy' %}" class="dropdown-item">Comedy</a></li>
            <li><a href="{% url 'videos:category' 'gaming' %}" class="dropdown-item">Gaming</a></li>
            <li><a href="{% url 'videos:category' 'music' %}" class="dropdown-item">Music</a></li>
            <li><a href="{% url 'videos:category' 'news-politics' %}" class="dropdown-item">News &amp; Politics</a></li>
            <li><a href="{% url 'videos:category' 'other' %}" class="dropdown-item">Other</a></li>
            <li><a href="{% url 'videos:category' 'people-blogs' %}" class="dropdown-item">People &amp; Blogs</a></li>
            <li><a href="{% url 'videos:category' 'religion' %}" class="dropdown-item">Religion</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link{% if request.path == topmedia_url %} active{% endif %}" href="{{ topmedia_url }}">Top Uploads</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link{% if request.path == search_url %} active{% endif %}" href="{{ search_url }}">Search</a>
        </li>
      </ul>

    </div>

    {% if user.is_authenticated %}
      <div class="collapse navbar-collapse">
         
        <ul class="navbar-nav ml-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username|default:"User" }}</a>
            <ul class="dropdown-menu">
              <li><a href="{{ upload_url }}" class="dropdown-item">Upload</a></li>
              <li><a href="{% url 'videos:subscribemedia' %}" class="dropdown-item">Sub Videos{% if request.user.has_unseen_sub_vids %} ({{ request.user.unseen_sub_upload_count }}){% endif %}</a></li>
              <li><a href="{% url 'videos:subscriptions' %}" class="dropdown-item">Manage Subscriptions</a></li>
              {#<li><a href="{% url 'videos:playlists' %}" class="dropdown-item">Playlists</a></li>#}
              <li><a href="{% url 'videos:playhistory' %}" class="dropdown-item">History</a></li>
            </ul>
          </li>
        </ul>
      </div>
    {% endif %}
  </nav>

   <div class="container">
     {% block content %}{% endblock %}
   </div>

   {% block extra_footer %}{% endblock %}

   <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    {% bootstrap_javascript %}
   {% block extra_js %}{% endblock %}
 </body>
</html>

